body {
  min-height: 100vh;
  cursor: pointer;
}
.slider {
  position: absolute;
  width: 300px;
  height: 200px;
  perspective: 100px;
  top: 30vh;
  left: 50%;
  transform: translateX(-50%)
  
}

.item {
  position: absolute;
  width: 300px;
  aspect-ratio: 2/3;
  background: transparent;
}

button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  width: 50%;
  border: 0;
  font-size: 24px;
}

.item:nth-child(5) {
  left: 0;
  top: 0;
}
.item:nth-child(4) {
  left: 20px;
  top: -20px;
}
.item:nth-child(3) {
  left: 40px;
  top: -40px;
}
.item:nth-child(2) {
  left: 60px;
  top: -60px;
}
.item:nth-child(1) {
  left: 80px;
  top: -80px;
}
